<!DOCTYPE html>
<html>
<head>
  <title>Lindsey Lanay Art</title>
  <%= stylesheet_link_tag    'bootstrap',   media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <%= render 'shared/siteNavigation' %>
    <%= yield %>
  </div>
</body>
</html>
